@media screen {
  body {
    box-shadow: 0 0 0.125cm rgba(0, 0, 0, 0.5);
  }

  .print-footer {
    display: none;
  }
}

@media print {
  .mark1::after,
  .mark2::after,
  .mark3::after {
    position: fixed;
    left: 0;
    z-index: -1;
  }

  .mark1::after,
  .mark3::after {
    content: "__";
  }

  .mark1::after {
    top: 95mm; /*105mm*/
  }

  .mark2::after {
    content: "____";
    top: 138.5mm; /*148.5mm*/
  }

  .mark3::after {
    top: 200mm; /*210mm*/
  }
  
  .print-footer {
    border-top: 1pt solid black;
    font-size: xx-small;
    text-align: left;
    line-height: .75;
    margin:5mm 20mm 0 25mm;
    padding: 1mm 1mm 0 1mm;
    height: 10mm;
  }

  @page {
    size: A4 portrait;
    margin: 10mm 0;
  }
}

html {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: smaller;
}

* {
  line-height: 1.25;
}

.print-frame,
.print-frame tr,
.print-frame td {
  padding: 0;
  margin: 0;
  border: none;
}

body {
  color: black;
  background: white;
  margin: 0 auto;
  display: block;
}

.din-5008 {
  width: 210mm;
  height: 100%;
}

#footer {
  margin-right: 20mm;
  margin-left: 25mm;
}

#footer div {
  margin: 3.75em 0;
}

.legal-notice {
  font-style: italic;
}

#footer,
#footer div,
#header,
#content,
.din-5008 .supplement,
.din-5008 .supplement .window,
.din-5008 .supplement .window .sender,
.din-5008 .supplement .window .recipient,
.din-5008 .supplement .infos {
  display: block;
}

#header,
.din-5008 .supplement {
  margin: 0 10mm 0 20mm;
  width: auto;
}

#header,
.din-5008 .supplement,
.din-5008 .supplement .infos,
.din-5008 .supplement .window {
  height: 45mm;
}

.din-5008 .supplement .window {
  float: left;
  margin: 0;
  width: 85mm;
}

.din-5008 .supplement .window .sender {
  width: auto;
  height: 10.7mm; /*17.7mm reduced because of print margin top/bottom*/
  margin-left: 5mm;
  font-size: xx-small;
}

.din-5008 .supplement .window .recipient {
  width: auto;
  height: 27.3mm;
  margin-left: 5mm;
  font-size: small;
}

.din-5008 .supplement .infos {
  float: right;
  width: 75mm;
  margin: 0 0 0 20mm;
  font-size: xx-small;
}

.din-5008 .supplement .infos * {
  line-height: 1;
}

.din-5008 #content {
  margin-top: 8.46mm;
  margin-right: 20mm;
  margin-left: 25mm;
}

.emp,
#subject {
  font-style: italic;
}

p.section {
  text-align: justify;
}

th,
.tabular .label::after,
.tabular .label,
#subject {
  font-weight: bold;
}

.label::after {
  content: ": ";
}

table,
th,
td {
  padding: 0.1em;
  border-collapse: collapse;
  border: 1px solid black;
}

th {
  background: lightgrey;
}

table,
.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

table,
.tabular {
  display: table;
}

thead,
tbody,
.tabular .group {
  display: table-row-group;
}

tr,
.tabular .group .row {
  display: table-row;
}

th,
td,
.tabular .group .row div {
  display: table-cell;
}

.half {
  min-width: 50%;
  width: 50%;
}

.third {
  min-width: 33%;
  width: 33%;
}

.fourth {
  min-width: 25%;
  width: 25%;
}
