@media screen {
  body {
    box-shadow: 0 0 0.125cm rgba(0, 0, 0, 0.5);
  }
}

@media print {
  .fold1::after,
  .fold2::after,
  .fold3::after {
    position: absolute;
    left: 0;
    z-index: -1;
  }

  .fold1::after,
  .fold3::after {
    content: "__";
  }

  .fold1::after {
    top: 105mm;
  }

  .fold2::after {
    content: "____";
    top: 148.5mm;
  }

  .fold3::after {
    top: 210mm;
  }

  @page {
    size: A4 portrait;
    margin: 0;
  }
}

html {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: smaller;
}

* {
  line-height: 1.25;
}

body.draft,
.fold1,
.fold2,
.fold3 {
  position: relative;
}

body.draft::after {
  content: "DRAFT";
  position: absolute;
  top: 40mm;
  left: 65mm;
  z-index: -1;
  transform: rotate(-45deg);
  font-size: 500%;
  color: red;
  font-weight: bold;
  opacity: 15%;
}

body {
  color: black;
  background: white;
  margin: 0 auto;
  display: block;
}

.din-5008 {
  width: 210mm;
  height: 100%;
}

#footer,
#header,
.din-5008 .supplement,
.din-5008 .supplement .window,
.din-5008 .supplement .window .sender,
.din-5008 .supplement .window .recipient,
.din-5008 .supplement .infos {
  display: block;
}

#footer,
#header,
.din-5008 .supplement {
  margin: 0 10mm 0 20mm;
  width: auto;
}

#header,
.din-5008 .supplement,
.din-5008 .supplement .infos,
.din-5008 .supplement .window {
  height: 45mm;
}

.din-5008 .supplement .window {
  float: left;
  margin: 0;
  width: 85mm;
}

.din-5008 .supplement .window .sender {
  width: auto;
  height: 17.7mm;
  margin-left: 5mm;
  font-size: xx-small;
}

.din-5008 .supplement .window .recipient {
  width: auto;
  height: 27.3mm;
  margin-left: 5mm;
  font-size: small;
}

.din-5008 .supplement .infos {
  float: right;
  width: 75mm;
  margin: 0 0 0 20mm;
  font-size: xx-small;
}

.din-5008 .supplement .infos * {
  line-height: 1;
}

.din-5008 #content {
  margin-top: 8.46mm;
  margin-right: 20mm;
  margin-left: 25mm;
  display: block;
  line-height: 10mm;
}

.din-5008 #content #subject {
  font-size: large;
  padding-bottom: 1rem;
  display: block;
}

#footer {
  font-style: italic;
}

.emp,
#subject {
  font-style: italic;
}

p.section {
  text-align: justify;
}

th,
.tabular .label::after,
.tabular .label,
#subject {
  font-weight: bold;
}

.label::after {
  content: ": ";
}

table,
th,
td {
  padding: 0.1em;
  border-collapse: collapse;
  border: 1px solid black;
}

th {
  background: lightgrey;
}

table,
.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

table,
.tabular {
  display: table;
}

thead,
tbody,
.tabular .group {
  display: table-row-group;
}

tr,
.tabular .group .row {
  display: table-row;
}

th,
td,
.tabular .group .row div {
  display: table-cell;
}

.half {
  min-width: 50%;
  width: 50%;
}

.third {
  min-width: 33%;
  width: 33%;
}

.fourth {
  min-width: 25%;
  width: 25%;
}
